:root {
  --color-primary: #7D28F7;
  --color-green: #00FAAC;
}

.bg-primary {
 background-color: var(--color-primary) !important;
 color: #FFF;
}

.text-primary {
 color: var(--color-primary) !important;
}

.text-green {
 color: var(--color-green) !important;
}

.underline {
  border-top: 1px solid var(--color-primary);
  width: 3.3rem;
  border-width: 0.2em;
}

.fs-29px {
  font-size: 25px;
  line-height: 29px;
}

.w-63 {
    width: 63%!important;
}